<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>这是尾部片段</h2>

<div th:fragment="frag1">
    <script src="/js/vue-2.6.14.js"></script>
    <script src="/js/vue-router.js"></script>
    <script src="/js/axios-0.26.js"></script>
    <script src="/js/element-ui-2.15.7.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                /*导航栏*/
                activeIndex: '1',
                /*文件上传*/
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false

            },
            methods: {
                /*导航栏*/
                handleSelect(key, keyPath) {
                    console.log(key, keyPath);
                },
                /*文件上传*/
                handleRemove(file) {
                    console.log(file);
                },
                handlePictureCardPreview(file) {
                    this.dialogImageUrl = file.url;
                    this.dialogVisible = true;
                },
                handleDownload(file) {
                    console.log(file);
                }
            },
        })
    </script>
</div>

</body>
</html>