<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<a href="https://gitee.com/oauth/authorize?client_id=2694c10f42c9d33d9257e5693bcd5183506ee62e5b00396e13e8e5b80d882048&redirect_uri=http://localhost:8081/getCode&response_type=code">
    点击拉起第三方登录
</a>
<h2>index</h2>
<a href="/login.html">跳转登录页</a>
<form action="/logout" method="post">
    <button type="submit">点击登出</button>
    CSRF:<input type="text" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"><br>
</form>
<div>
    <p>登录用户：<span th:text="${user}"></span></p>
    <div th:if="${#authentication.authenticated}">
        <p>已经登录的用户名：<span th:text="${#authentication.name}"></span></p>
        <hr/>
        <p>所有权限：<span th:text="${#authentication.authorities}"></span></p>
        <p>Details信息：<span th:text="${#authentication.details}"></span></p>
        <p>Session凭证：<span th:text="${#authentication.credentials}"></span></p>
        <p>主题信息：<span th:text="${#authentication.principal}"></span></p>
    </div>
</div>



<!--<p>用户信息：<span th:text="${#session} != null ? ${#session.getAttribute('SPRING_SECURITY_CONTEXT')} : '没登录'"></span></p>-->
</body>
</html>