<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.mapper.IUserMapper">
    <!--因为启动了别名，这里user就是com.zking.entity.User-->
    <select id="findAll" resultType="user">
        select * from user2
    </select>
    <select id="findById" resultType="User">
        select * from user2 where id=#{id}
    </select>
</mapper>